/*CSS document*/

body {
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
}

div.container {
    margin: auto;
    background-color: #ffffff;
    padding: 1em;
}

div.container nav{
    text-align: center;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

p { font-family: "panel-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1{padding-top: 1em;
    align-content: center;
    width: 18em;}

h1,h2,h3 { font-family: "modula", sans-serif;
    color:#ba0400 ;
}

a{
    text-decoration: none;
    color: black; 
}

nav ul li {
	text-transform: uppercase;
	font-weight: bolder;
	margin-bottom: .30rem;
    display: inline;
    margin-right: 1em;
	}
	
nav ul li a {
	color: #3d8db1;
	font-family: "citrus-gothic", sans-serif;
	font-weight: bold;
	font-style: normal;
    font-size: 1rem;
	}

    section.tertiary{ 
        border-top: 3px solid #3d8db1;
    }

    @media screen and (min-width: 60em) {
        div.container {max-width: 100em;}

        div.gallery{
            max-width: 70em;
            display: grid;
        }

        section{ max-width: 50em;
        margin: 0,auto;}
        
        header {
            background-color: #ffffff;
            grid-column: 1 / 3;
        }
        
        div.container {
            margin: auto;
            background-color: #ffffff;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap:0 1em;
            padding: 1em;
        }

        main{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 0 1em;
        }

        section.mainstory{ 
            grid-column: 2 / 4;
            grid-row: 1 / 3 ;
            display: flex;
            flex-direction: column;  
        }

        section.mainstory a{
            flex: 1 0 10em;
            display: flex;
            flex-direction: column;
        }

        section.mainstory a figure{
            flex: 1 0 10em;
        }

        section.mainstory a figure img{
            height: 95%;
            object-fit: cover;
        }

        section.mainstory a h3{
            flex: 0 0 auto;
            margin: 0;
        }
        section.mainstory a p{
            flex: 0 0 auto;
        }

        nav ul li a {
            color: #3d8db1;
            font-family: "citrus-gothic", sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 1.5rem;
            }
       
            div.gallery{
                max-width: 40em;
                margin: auto;
                padding: 1em;
                background-color: #ffffff;
            }
            
            div.gallery img{
                width: 100%;
                object-fit: cover;
            }
            
            div.gallery main{
                position: relative;
                padding-bottom: calc(50% + 5em);
                overflow: hidden;
            }
            
            div.gallery figure{
                margin: 0;
                width: 100%;
                position: absolute;
                opacity: 0;
                transition: opacity 1s;
            }
            
            div.gallery figcaption{
                margin: .5em 0;
                font-family: "effra", sans-serif;
                font-weight: 300;
                font-size: medium;
                font-style: italic;
                color: rgb(65, 105, 186);
            }
            
            div.gallery nav{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 1em;
            }
            
            div.gallery input{
                display: none;
            }
            
            input:nth-of-type(1):checked~main figure:nth-of-type(1),
            input:nth-of-type(2):checked~main figure:nth-of-type(2),
            input:nth-of-type(3):checked~main figure:nth-of-type(3),
            input:nth-of-type(4):checked~main figure:nth-of-type(4),
            input:nth-of-type(5):checked~main figure:nth-of-type(5),
            input:nth-of-type(6):checked~main figure:nth-of-type(6),
            input:nth-of-type(7):checked~main figure:nth-of-type(7),
            input:nth-of-type(8):checked~main figure:nth-of-type(8),
            input:nth-of-type(9):checked~main figure:nth-of-type(9),
            input:nth-of-type(10):checked~main figure:nth-of-type(10),
            input:nth-of-type(11):checked~main figure:nth-of-type(11){
                opacity: 1;
            }

            /* newsletter form */
main.newsletter {
    margin: auto;
    padding: 3rem 4rem;
    border: 3px solid;
}

form {
    margin: 0.5em 0em;
}

ul.newsletter li {
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
    padding-bottom: 0.5em;
}

ul.newsletter li input[type="text"],
ul.newsletter li input[type="email"],
ul.newsletter li input[type="tel"]{
    background-color: #EEEDEB;
    flex: 2 0 15em;
    box-sizing: border-box;
    display: flex;
    border: 0;
    border-bottom: 1px solid #0d1321;
}

ul.newsletter li input[type="checkbox"] {
    display: flex;
    margin-right: 1em;
    position: relative;
}

ul.newsletter li label {
    flex: 1 0 2em;
    font-weight: 600;
}

h2.newsletter {
    font-size: 1.75em;
}

h3.newsletter {
    color: #3d8db1;
}

button {
    border: 0px;
    font-family: "input-serif-condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #EEEDEB;
    background-color: #3d8db1;
    padding: 0.5em 1em;
}

button:hover {
    background-color: #314956;
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #484848;
        color: #EEEDEB;
    }
    div.container{
        background-color: #484848;
        color: #484848;
    }
    header{  background-color: #484848;
        color: #484848;}
    h1 {  
    background-image: url("coastalcarve-logo-alt.png");  
    background-repeat: no-repeat;  
    background-size: contain;  
    }
    
    h1 img {  
        opacity: 0;  
    }  
    
    a {
        color: #EEEDEB;
    }

    p {
        color: #EEEDEB;
    }
    
    section {
        border-color: #EEEDEB;
    }
    
    h3 {
        color: #EEEDEB;
    }

    h3:hover {
        color: #FF3406;
    }
    
    h2 {
        color: #EEEDEB;
    }
    
    h3.newsletter {
        color: #FF3406;
    }
    
    ul.newsletter li input[type="text"],
    ul.newsletter li input[type="email"],
    ul.newsletter li input[type="tel"]{
        background-color: #314956;
        border-bottom: 1px solid #EEEDEB;
        color: #EEEDEB;
    }
    
    button {
    color: #3F6E87;
    background-color: #EEEDEB;
    }

    button:hover {
        background-color: #FF3406;
        color: #EEEDEB;
    }

        }
    }
